#goods {
  margin: 0 0 0 152px;
  border: 1px solid black;
  margin: auto;
}
h1,
h2 {
  text-align: center;
}

th {
  padding: 10px 20px 10px 20px;
}

.buy {
  padding-top: 5px;
}

#cokePrice,
#fantaPrice,
#waterPrice {
  font-size: 22px;
}
